%h3.text-center{style: "margin: 20px 0 5px 0;"}
  %strong{style: "font-family: 'Ubuntu';"} THỐNG KÊ TOP TRIỆU PHÚ, TRỌC PHÚ MÙA WORLD CUP 2014
%p.text-center{style: "margin-bottom: 20px;"} (Đơn vị tiền tệ: VNĐ)
.table-responsive.statistics-table
  %table.table.table-bordered
    %thead
      %tr
        %th #
        %th Nhà đầu tư
        %th Số trận tham gia
        %th Tổng tỉ số đã cược
        %th Tổng tiền đầu tư
        %th Tổng tiền thắng cược
        %th Tổng lợi nhuận
    %tbody
      - @statistics.each_with_index do |record, index|
        %tr{class: index == 0 ? "success bold-win" : ([1,2].include?(index) ? 'active' : (@statistics.size-1 == index ? 'danger bold-lose' : ([@statistics.size-2, @statistics.size-3].include?(index) ? 'warning' : '')))}
          %td= index+1
          %td= record[:user].full_name
          %td.text-center= record[:total_matches]
          %td.text-center= record[:total_scores]
          %td.text-center= number_with_delimiter(record[:total_money_bet], delimiter: '.')
          %td.text-center= number_with_delimiter(record[:total_money_win], delimiter: '.')
          %td.text-center= number_with_delimiter(record[:total_money_profits], delimiter: '.')