.page_schedule.page_trandau
  = render partial: 'games_upcoming', locals: { games: @upcoming_games }
  = render 'round_16'
  = render 'quarter_finals'
  = render 'match_for_third_place'
  = render 'final'
  = render 'site_map'
