.page_schedule.page_trandau
  = render partial: 'money_for_final', locals: { total_money: @total_money_for_final }
  = render partial: 'final', locals: { games: @games_final }
  = render partial: 'match_for_third_place', locals: { games: @games_third_place }
  = render partial: 'semi_finals', locals: { games: @games_round_4 }
  = render partial: 'quarter_finals', locals: { games: @games_round_8 }
  = render partial: 'round_16', locals: { games: @games_round_16 }
  = render partial: 'past_games', locals: { games: @past_games }
  = render 'site_map'
