.page_schedule.page_trandau
  = render partial: 'money_for_final', locals: { total_money: @total_money_for_final }
  / = render partial: 'current_games', locals: { games: @recent_games }
  / = render partial: 'upcoming_games', locals: { current_games: @upcoming_games }
  = render partial: 'round_16', locals: { games: @games_round_16 }
  = render partial: 'past_games', locals: { games: @past_games }
  = render 'quarter_finals'
  = render 'semi_finals'
  = render 'match_for_third_place'
  = render 'final'
  = render 'site_map'
