.page_schedule.page_trandau
  = render partial: 'money_for_final', locals: { total_money: @total_money_for_final }
  = render partial: 'all_games', locals: { games: @all_games }
  = render 'round_16'
  = render 'quarter_finals'
  = render 'match_for_third_place'
  = render 'final'
  = render 'site_map'
