%table.live
  %tr
    %td= game.play_at_local.strftime('%H:%M')
    %td{style: "min-width: 360px; text-align: right;"}
      %span{style: "font-size: 160%;"}= game.team1.title
      = logo_for_team( game.team1 )
    %td
      %span{style: "font-size: 160%;"}= "-:-"
    %td
      = logo_for_team( game.team2 )
      %span{style: "font-size: 160%;"}= game.team2.title