- if current_user.admin?
  .col-md-8.col-md-offset-2
    %table
      %tr
        %td{style: "min-width: 360px; text-align: right; font-weight: bold;"}
          %span{style: "font-size: 160%;"}= "#{@game.team1.title} - #{@game.team2.title}"
  .col-md-10.col-md-offset-1.margin-20
    = form_tag match_betting_score_path(@game), :method => :post, :class => 'form-horizontal match_betting_score_form'
    - @users.each do |user|
      - user_selected_scores = user.user_scores.where(game_id: @game.id).collect{|a|a.score_id}
      .form-group
        %label.col.col-md-4.control-label= "#{user.username} (#{user.display_name})"
        .col.col-md-6
          = select_tag "user[#{user.id}][score_ids]", options_for_select(@scores, user_selected_scores), :multiple => true, :disabled => @disabled, :class => 'form-control betting-multi-score', "data-placeholder"=>"Click vào đây để chọn tỉ số..."
    %br
    %div{style: "margin-left: 270px;"}
      %button.btn.btn-primary{type: "submit"} Gửi
      = link_to "Back", match_game_path(@game), :class => "btn btn-default"
- else
  = "Bạn không có quyền truy cập vào trang này."