!!!
%html
  %head
    %title NUS Technology - Đồng hành cùng World cup 2014 - Rinh quà khủng
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans|Lato|Ubuntu|Lobster|Open+Sans|Play|Oxygen|PT+Sans"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #wrapper_page
        = render 'layouts/header'
        #wrapper_container
          #container
            = render 'layouts/messages'
            = yield
        = render 'layouts/footer'
  :javascript
    var rootURL = "#{root_url}"